* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: orange;
    padding: 20px;
}
nav {
    background-color: orange;
    display: grid;
    place-items: center;

}

@media only screen and (max-width: 600px) {
    nav {
        background-color: grey;
        display: grid;
        place-items: center;
    
    }
}
nav ul {
    list-style-type: none;
}

nav ul a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in;
    font-size: 18px;
}

nav ul a:hover {
    background-color: orange;
    color: white;
}
body {
    backdrop-filter: blur(2px);
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  h2{
    font-size: xx-large;
    color: ghostwhite;
    padding-top: 15%;
  }
  h3{
    font-size: xx-large;
    color: aliceblue;
    
  }
  button {
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    transition: 0.2s all;
}
button:hover {
    transform: scale(1.08);
}



.wcu-section-heading {
    color: aliceblue;
}

.wcu-section-description {
    
    color: white;
    padding-left: 36%;
}

.wcu-card {
    
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    
}

.wcu-card-image {
    height: 90px;
    width: 87px;
}



.wcu-card-description {
   
    font-weight: bolder;
    color: orange
    
}